In [14]:
# Загрузка локальных файлов

from google.colab import files
import io

uploaded = files.upload()

KeyboardInterrupt: ignored

In [2]:
# Импорт модуля pandas
import pandas as pd

# Чтение csv-файла
target = pd.read_csv(io.BytesIO(uploaded['musae_git_target.csv']))
edges = pd.read_csv(io.BytesIO(uploaded['musae_git_edges.csv']))

In [3]:
target.head()

   id          name  ml_target
0   0        Eiryyy          0
1   1    shawflying          0
2   2   JpMCarrilho          1
3   3     SuhwanCha          0
4   4  sunilangadi2          1

In [4]:
edges.head()

   id_1  id_2
0     1   237
1     1  2383
2  6067  1972
3     3   495
4     3  3358

In [13]:
adjacency = pd.DataFrame(target["id"])
adjacency.merge(adjacency, how="cross")

            id_x   id_y
0              0      0
1              0      1
2              0      2
3              0      3
4              0      4
...          ...    ...
100019996  10000   9996
100019997  10000   9997
100019998  10000   9998
100019999  10000   9999
100020000  10000  10000

[100020001 rows x 2 columns]